#here I have excluded folders that nobody else needs
DATA
auxilaryfiles
backups
REPORTS
.venv
Results/Modeling/dt/GRAV/Canada_Gravity_2018.dbf
Results/GRAVITY/comparison/dt/GRAV/Canada_Gravity_2018.dbf
